.wrapper {
    background-color: wheat;
    padding: 20px;
    position: sticky;   
    top: 0;
    z-index: 1;

}
.headerMenu {
    display: flex;
    list-style: none;
    gap: 8px;
    margin: 0 3rem;
    
}

.headerMenu li:nth-child(2) {
    margin-left: auto;
       
}



.active {
    
    color: green;
    text-decoration: none;
}

.active1 {
    text-decoration: none;
}